@charset "UTF-8";


body{
	font: 13px/1.6 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
	color: #555;
	background: #fff url(59044004_p0_master1200.jpg) repeat-y 0 0;
	padding: 40px 40px 40px 100px; 
}

h1{
	background: url(57699904_p0_master1200.jpg) no-repeat 0 0;
	min-height: 53px;
	color: #FFF;
	font-size: 25px;
	padding-left: 28px;
	margin-left: -37px;
	text-shadow: 0 1px #fff;
	line-height: 2;
}

#main_img {
	width: 1920px;
	margin-right: 35px;
	margin-left: 35px;
	clear: both;

ul{
	list-style: none;
	padding-left: 1em;
}
li{
	background: url() no-repeat 0 50%;
	padding-left: 15px;
}